// https://material.angularjs.org/1.1.0/demo/colors

$blue-500: #2196F3;
$blue-700: #1976D2;
$red-a200: #FF5252;

$green-a200: #69F0AE;
$green-500: #4CAF50;
$green-700: #388E3C;
$green-800: #2E7D32;


$white: #FFFFFF;

$angular-blue: $blue-500;
$angular-red: $red-a200;
$angular-green: $green-500;
$angular-accent-green: $green-a200;

