

<app-card title="Toggle" subTitle="Components">
  <app-toggle-button body></app-toggle-button>
</app-card>

<app-card title="Spinner" subTitle="Components">
  <app-twitter-post body></app-twitter-post>
</app-card>

<app-card title="Spinner" subTitle="Components">
  <app-spinner body [isLoading]="false" [loaderLook]='loaders.loadingDots'></app-spinner>
</app-card>

<app-card title="Credit Card Input" subTitle="Components">
  <app-credit-cart-input
    body
    [creditCardNumber]="'4321432143214321'"
    [isReadOnly]="true"
  ></app-credit-cart-input>
  <app-credit-cart-input
    footer
    [creditCardNumber]="'4321432143214321'"
    [isReadOnly]="false"
  ></app-credit-cart-input>
</app-card>

<app-card title="Star Rating" subTitle="Components">
  <app-star-rating body rate="3.5"></app-star-rating>
</app-card>

<app-card title="Progress Bar" subTitle="Components">
  <app-progress-bar body [progress]="10"></app-progress-bar>
</app-card>

<app-accordion [items]="accordionItems"></app-accordion>

<app-card title="Card" subTitle="Components">
  <p body>Body Content</p>
  <p footer>Footer Content</p>
</app-card>
