<header>
  <nav class="navigation">
    <h3 class="navigation__logo">{{ title }}</h3>
    <ul class="navigation__links">
      <li routerLink="" class="link">Components</li>
      <li routerLink="directives" class="link">
        Directives
      </li>
      <li routerLink="services" class="link">Services</li>
      <li routerLink="pipes" class="link">Pipes</li>
      <li routerLink="other" class="link">Other</li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<app-top-of></app-top-of>
