button {
  position: fixed;
  top: 90vh;
  right: 30px;
  z-index: 99;
  background-color: orangered;
  border-radius: 50%;
  border: none;

  transition: all 0.5s;
  height: 0;
  width: 0;
  visibility: hidden;

  padding: 0;

  i {
    color: white;
    font-size: 0;
  }

  &.isShown {
    visibility: visible;
    padding: 14px;
    height: 50px;
    width: 50px;
    i {
      font-size: 1.1rem;
    }
  }
}
