@import "../../../styles/_variables.scss";

.navigation {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 10px;
  color: $white;
  background-color: $angular-blue;
  font-weight: bold;
  font-size: 1.6rem;

  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
  }

  &__links {
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: column;

    font-size: 1.2rem;

    .link {
      display: inline;
    }
  }
}


